<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @contato.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @contato.idade %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @contato.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @contato.observacoes %>
</p>

<%= link_to 'Editar', edit_contato_path(@contato) %> |
<%= link_to 'Listagem', contatos_path %>
